


.form-home{
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: 450px;
    padding: 20px 30px;
    
}
.form-home div{
    padding: 15px 0px;
}

@media (width < 800px) {
    
}